<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bits</title>

    <link href="../css/styles.css" rel="stylesheet">
    <link href="../css/productDetail.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="js/scripts.js"></script>
</head>
<body>
    <%- include('../partials/header') %>
    <div class="detalleTitulo">
        <h2 id="titulo-det">Detalle de Producto </h2>
    </div>

    <div id="general">
        <div id="part1">
            <div id="imagen-casa">
                <img src="../img/<%= product.image%>" alt="">
            </div>
        </div>
        <div id="part2">
            <h2><%= product.type +" de " + product.category %></h2>
            <div id="amplia-descr">
                <h3><%= "Descripción: "+product.description %></h3>
            </div>
            <div id="amplia-descr">
                <h3><%= "Ciudad: "+product.city %></h3>
            </div>
            <div id="amplia-descr">
                <h3><%= "Dirección: "+product.address %></h3>
            </div>
            <div id="amplia-descr">
                <h3><%= "Tipo: "+product.type %></h3>
            </div>
            <div id="precio">
                <h4><%="Precio: $"+ product.price%></h4>
                <button id="boton-edit"><a href="/users/edit/<%=product.id%>" class="action-button edit"><img src="../img/edit.svg" width="15"></a> Editar</button>
                <form action="/users/<%=product.id%>?_method=DELETE" method="POST" style="display: inline-flex">
                    <button id="boton-edit" type="submit" class="action-button delete"><img src="../img/delete.svg" width="15"> Eliminar</button>
                </form>
            </div>
        </div>
        <div id="part3">
            <div id="precio2">
                <h3><%="Precio: $"+ product.price%></h3>
            </div>
            <div id="btn-car">
                <input type="button" value="Agregar al carrito">
            </div>
            <div id="btn-buy">
                <input type="button" value="Comprar ahora">
            </div>

        </div>
    </div>

</body>
</html>