<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bits</title>
    <base href="/">
    <link href="../css/styles.css" rel="stylesheet" type="text/css">
    <link href="../css/register2.css" rel="stylesheet" type="text/css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../js/scripts.js"></script>
</head>
<body>

<%- include('../partials/header2') %>
<div class="fondo-registro" style="background-image: url('../img/register.jpg');">
    <h1>Editar Producto</h1>
   <form action="/users/<%= productToEdit.id %>?_method=PUT" method="post">
    
    <ul>    
      <li>
        <label for="name">Ciudad:</label>
        <input type="ciudad" multiple id="name" list="drawfemails2" required size="64" placeholder="Agregue la ciudad" name="city" value="<%= productToEdit.city %>">
        <datalist id="drawfemails2" >
            <option value="CDMX">CDMX</option>
            <option value="Guadalajara">Guadalajara</option>
            <option value="Morelia">Morelia</option>
            <option value="Chihuahua">Chihuahua</option>
            <option value="Leon">Leon</option>
            <option value="Monterrey">Monterrey</option>
            <option value="Ixtapa">Ixtapa</option>
            <option value="Queretaro">Queretaro</option>
        </datalist>
      </li>
      <li>
        <label for="mail">Descripcion:</label>
        <input type="text" id="descripcion" name="description" value="<%= productToEdit.description %>">
      </li>
      <li>
        <label for="precio">Precio:</label>
        <input type="number" id="precio" name="price" value="<%= productToEdit.price %>">
    </li>
     <!-- <li>
          <label for="imagen">Imagen:</label>
          <input type="file" id="image" name="imagen">
      </li> -->
        <li>
          <label for="Categoria">Categoría:</label>
          <input type="text" multiple name="category" id="categoria" list="drawfemails" required size="64" placeholder="" value="<%= productToEdit.category %>">

          <datalist id="drawfemails">
              <option value="Casa">Casa</option>
              <option value="Departamento">Departamento</option>
              <option value="Local">Local</option>
              <option value="Terreno">Terreno</option>
              <option value="Oficina">Oficina</option>
          </datalist>
      </li>

      <li>
        <label for="Categoria">Dirección:</label>
        <input type="text" id="categoria" name="address" value="<%= productToEdit.address %>">
    </li>

      <li>
      <select name="type" id="tipo-compra" value="<%= productToEdit.type %>">
        <option value="Venta">Venta</option>
        <option value="Renta">Renta</option>
      </select>
      </li>

      <li class="">
        <button type="submit" class="buy-now-button">Editar</button>
      </li>

    </ul>
   </form>

   </body>
</div>
</html>